.Toolbar {
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    /* background: linear-gradient(90deg,#3ea2d1 0%, #2e2a57 100%); */
    background: #483d68;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
}

.Toolbar nav {
    height: 100%;
}

.Logo {
    height: 80%;
}

@media (max-width: 519px) {
    .DesktopOnly {
        display: none;
    }
    .Toolbar {
        background: #aab4df;
    }
}