.Logo {
    height: 100%;
}

.Logo img {
    height: 100%;
}

.Logo2 img {
    height: 100%;
}
.Logo2{
    display: none;
}

@media (max-width: 519px) {
    .Logo2{
        display: block;
        margin-top: 8px;
        height: 65%;
    }
    .Logo{
        display: none;
    }
}