.Logo {
    /* background-color: rgb(200, 208, 214); */
    margin-left: 20px;
    margin-top: 15px;
    padding: 2px;
    height: 100%;
    box-sizing: border-box;
    border-radius: 8px;
}

.Logo img {
    height: 100%;
}

@media (max-width: 519px) {
    .Logo {
        margin-left: 0;
        margin-top: 0;

    }
}