.intro{
    position: relative;
    /* color: #2e2a57; */
    font-size: 10px;
}

.introText {
    animation:  focusInExpand 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both,
                colorChange 1s linear infinite alternate both;
}

@keyframes focusInExpand {
    0% {
        letter-spacing: -0.5em;
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes colorChange {
	0% {
		color: #2e2a57;
	}
	100% {
		color: #3b385e;
	}
}

@media (min-width: 520px) {
    .intro{
        position: relative;
        font-size: 18px;
    }
    
}