.Auth {
    margin: 100px auto;
    width: 80%;
    height: 255px;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 20px 10px;
    box-sizing: border-box;
    background-color: rgba(96, 128, 158, 0.726);
}

.Auth p {
    color: rgb(119, 8, 8);
}

.Signup {
    margin: 80px auto;
    width: 80%;
    height: 350px;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 20px 10px;
    box-sizing: border-box;
    background-color: rgba(96, 128, 158, 0.726);
}

.Signup p {
    color: rgb(119, 8, 8);
}

.Extras{
    margin-top: -24px;
    margin-left: -15px;
}

.Page{
    min-height: 100vh;
}

@media (min-width: 600px) {
    .Auth {
        margin: 190px auto;
        width: 500px;
        height: 200px;
        padding: 25px 10px;
    }
    
    .Signup {
        margin: 160px auto;
        width: 500px;
        height: 260px;
        padding: 25px 10px;
    }
    
    .Extras{
        margin-top: -29px;
        margin-left: -15px;
    }

    .Page{
        min-height: 70vh;
    }
}