.TrackBg{
    min-height: 85vh;
}

.Title {
    height: 40px;
    text-align: center;
    /* padding: 5px; */
    /* margin: 5px 0; */
    color: rgb(2, 61, 32);
}

.Left{
    width: 16%;
    margin: 0 2px;
    float: left;
    height: auto;
}

.Right{
    width: 84%;
    float: right;
    box-sizing: border-box;
    min-height: 85vh;
    border-left: 3px solid rgb(65, 65, 65);
    padding: 20px;
}

.Main {
    display: flex;
    flex-flow: row;
    margin-bottom: 40px;
}
