.App {
	text-align: center;
	/* background: linear-gradient(80deg,#c1ccfc 0%, #737891 100%); */
	background: #b7e7ff;
	width: 100%;
	min-height: 80vh;
	display:block;
	overflow:auto;
	height: 100%;
	padding: 15px 0;
	/* animation: App 3s linear infinite alternate both; */
}
/* 
@keyframes App {
	0% {
		background: #aab4df;
	}
	50% {
		background: #96b99c;
	}
	100% {
		background: #82adad;
	}
} */

@media (max-width: 519px) {
    .App {
		background: #aab4df;
		animation: App 3s linear infinite alternate both;
	}
	
	@keyframes App {
		0% {
			background: #aab4df;
		}
		50% {
			background: #aab4df;
		}
		100% {
			background: #aab4df;
		}
	}
	
}